<header class="site-header">
  <div class="header-inner">
    <a href="/" class="site-title">
      <span class="site-name">Field Notes</span>
      <span class="site-sub">Triple-R Service Co</span>
    </a>
    <a href="https://github.com/jlevers/fieldnotes.rrrservice.co/issues/new?template=new-note.yml" class="new-note-btn">+ New</a>
  </div>
</header>
