{% set bodyText = note.templateContent | striptags %}
{% set words = bodyText | wordcount %}
<article class="note-card{% if words > 80 %} note-card--long{% endif %}" data-project="{{ note.data.project | slugify }}" data-tags="{{ note.data.tags | join(',') | lower }}">
  <div class="note-card-meta">
    <time datetime="{{ note.date | isoDate }}">{{ note.date | readableDate }}</time>
    {% if note.data.project %}
      <a href="/projects/{{ note.data.project | slugify }}/" class="note-project">{{ note.data.project }}</a>
    {% endif %}
  </div>
  <div class="note-card-body">
    {{ note.templateContent | safe }}
  </div>
  {% if note.data.tags and note.data.tags.length %}
    <div class="note-card-tags">
      {% for tag in note.data.tags %}
        <a href="/tags/{{ tag | slugify }}/" class="tag-chip">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}
</article>
